<%- include("header"); -%>

<h2>About this todo-list.</h2>

<p>Hey guys! I am Anshul, the developer. This website is made specially for those
who likes to be productive everyday by writing or storing there tasks of the day somewhere and get the job done
without fail. If you are one of those productive peoples, let's note the tasks down and start checking
them of one by one. Have fun!! Thank you!</p>

<%- include("footer")-%>
